<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Suite">
<listeners>

<listener class-name="com.GenericFunctions.TestNGListeners"></listener>

</listeners>

  <test  name="Test">
  <!-- -Enter Your test cases -->
  <classes>
  
  <class name="com.TestCases.Tc_01_Login"></class>
  <!-- <class name="com.TestCases.Tc_002_Admin_AddCustomer"></class> -->
  <!-- <class name="com.TestCases.TC_003_Admin_Logout"></class> -->
  <!-- <class name="com.TestCases.Tc_004_Changepassword"></class> -->
   <!-- <class name="com.TestCases.Tc_005_delete></class> -->
   <!-- <class name="com.TestCases.TC_01_Automationpractise"></class> -->
 
  </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
